h1 {
    font-style:italic ;
    border: solid 10px rgb(46, 56, 101);padding: 20px;
    margin:35px ;
    text-align: center;
}
h2 { 
    text-decoration: underline;


}
section{float: right;

 }





   